:root{
  --main-color1:#0a1334 ;
  --main-color2:#14202e ;
  --main-color3:#2d4356 ;
  --main-color4:#89aac3 ;
  --big-fonts:2.5rem;
  --small-fonts:1.5rem;
  --main-font-family: 'Alkatra', cursive;
  --title-font-family: 'Lato', sans-serif;
  --small-font-family: 'Raleway', sans-serif;
  --styled-font-family: 'Lora', serif;
}

*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
body{
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f4f6f8;
  margin: 0;
    padding: 0;
    /* width: 100%; */
}
.app{
  width: fit-content;
  margin: 0 1rem;
}

.frontend{
  margin-top: -1rem;
  font-family: var(--styled-font-family);
}
.Top_main{
  display: grid;
 grid-template-columns: repeat(1, 5fr 4fr);
 place-items: center;
 height: 100vh;
 place-content: center;
}

.intro{
  width: fit-content;
  margin-bottom: 10rem;
}

.intro> h1{
  font-size: var(--big-fonts);
letter-spacing: 1px;

}
.intro> blockquote{
  white-space: wrap;
  text-align: center;
  width: 100%;
  font-family: var(--small-font-family);
}
.contact>a{
  text-decoration: none;
  color: #fff;
}
.name{
  background-image: linear-gradient(45deg, #2d4356,#89aac3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: var(--big-fonts);
  font-family: var(--main-font-family);
}

.each_letter{
  transition: 1s ease-in-out;
}

.each_letter:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.centered-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 50vh;
}

.content {
  text-align: center;
}
.contact{
  background: #89aac3;
  margin-left: 1rem;
padding: .5rem;
color: #fff;
border: none;
font-family: var(--styled-font-family);
font-size: large;
border-radius: 7px;
white-space: nowrap;
}

.top_btn{
background:#14202e ;
color: #fff;
padding: .5rem;
border: none;
font-family: var(--styled-font-family);
font-size: large;
white-space: nowrap;
}

.top_btn_container {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
}

.about_Me{
  display: grid;
  grid-template-columns: repeat(1 ,3fr 6fr);
  font-family: var(--title-font-family);
  place-items: center;
  /* justify-content: center;
  align-items: center;*/
  white-space: break-spaces; 
}

.about{
  text-align: center;
  font-family: var(--title-font-family);
}

.mainp_container{
  width: 300px;
  height: auto ;
  margin: 1rem ;
  border: #89aac3;
  box-shadow: #bed1df 5px 5px 20px;
  border-radius: 10px;
  padding: 0 0 1rem 0;
}

.btn_container>h3{
 text-align: center;
 font-size: var(--small-fonts);
  font-family: var(--main-font-family);
}

.p_btn{
 font-family: var(--title-font-family);
 background-color: #2d4356;
 border: none;
 padding: .5rem;
 color: #fff;
 margin: .5rem 1rem;
 border-radius: 5px;
 box-shadow: #fff ;
 cursor: pointer;
}

.Project>h1{
  text-align: center;
  font-size: var(--big-fonts);
  background-image: linear-gradient(45deg, #23394d, #537086);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--main-font-family);
}

.mainp_container>img{
  width: 100%;
}

.project_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr );  
  margin-top: 1.5rem;
    border-radius: 10px;
  place-items: center;
}

.stack{
  font-size: var(--small-fonts);
}

.top_image{
  margin: 0 0 9rem 7rem;
  padding: 5rem;
  background-image: url(images/blob-haikei.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.pop_container{
  position: absolute;
  top: 110%;
  left: 25%;
  z-index: 10;
  width: fit-content;
  height: auto;
  padding:1rem;
  border: #89aac3;
  box-shadow: #99b8cf 5px 5px 20px;
  border-radius: 10px;
 display: block;
 
  background-color: #fff;
  font-family: var(--styled-font-family);
  max-width: 50vw;
}

.wave_animation{
  animation: wave 1.5s 1s ease-in-out infinite alternate-reverse;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes wave {
  0%{
    transform: rotate(-70deg);
  }
 100%{
    transform: rotate(0deg);
  }
}

.progress-bar {
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--main-color1);
  transform-origin: 0%;
}

.inside_pop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.inside_pop>button {
  border: none;
  background-color: inherit;
  margin-left: 12rem;
  font-size: 1.7rem;
  color: red;
}

.Buttom{
  display: grid;
  grid-template-columns: repeat(2,6fr);
  place-content: center;
  place-items: center;
  background-color: #23394d;
  color: #fff;
  border: none;
  width: 100%;
  margin: -.5rem 0 0 0   ;
  padding: 0 0 2rem 0;
}

.buttom_container{
  width: 100vw;
margin-left: -1rem;
}

.form{
  display: flex;
  flex-direction: column;
  font-size: var(--small-fonts);
  font-family: var(--title-font-family);
  color: #fff;
}

.form>button{
display: block;
margin: 0 auto;
}

.form_input{
  font-family: var(--title-font-family);
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: .5rem;
  margin-bottom: .5rem;
  border-radius: 5px;
  padding:0 .5rem;
}

.textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.copy{
  display: flex;
  flex-direction: column;
}

.p_btn_red{
  font-family: var(--title-font-family);
    background-color: #d31424;
    border: none;
    padding: .5rem;
    color: #fff;
    margin: 0 .3rem;
    border-radius: 5px;
    box-shadow: #fff;
    cursor: pointer;
    margin-bottom: .5rem;
}

.copy_input{
  border: none;
  font-size: large;
  cursor: pointer;
  color: #e5eaee;
}

/* wave 1 */
.custom-shape-divider-bottom-1686439584 {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1686439584 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 157px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1686439584 .shape-fill {
  fill:#23394d;
}

/*wave 2 */

.custom-shape-divider-bottom-1686522821 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1686522821 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1686522821 .shape-fill {
  fill: #E3ECF5;
}
/* end */
.custom-shape-divider-bottom-1686523959 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686523959 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
}

.custom-shape-divider-bottom-1686523959 .shape-fill {
  fill: #E9EFF5;
}
.wave3{
  position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave3 .shape-fill {
  fill: #E3ECF5;
}

.svg{
  width: 100vw;
}
/* end of svg */
.nav_bar>li>a{
  list-style: none;
  cursor: pointer;
  font-size: larger;
  scroll-behavior: smooth;
text-decoration: none;
font-weight: 600;
color: #fff;
font-family: var(--styled-font-family);
}

.Stack_contain{
  display: flex;
  justify-content: space-around;
  color: var(--main-color3);
  font-weight: 600;
}
.Stack_container>h2{
  text-align: center;
}

@media screen and (max-width: 768px) {
  .Stack_contain {
      display: grid;
      grid-template-columns: repeat(2,6fr );
      color: var(--main-color3);
      font-weight: 600;
    }
  .top_image {
    display: none;
    margin-left: 0;
  }

  .app {
    width: fit-content;
    margin: 0;
  }

  .intro>blockquote {
    display: block;
    margin: 0 auto;
  }

  .about_Me {
    display: flex;
    flex-direction: column;
    position: none;
    left: 0%;
    width: 100vw;

  }
  .top_btn_container {
  display: grid;
  grid-template-columns: repeat(2,6fr);
    margin-left: 10px;
    margin-bottom: 5rem;
  }
  .mainp_container {
    width: 90vw;
    justify-self: center;
    flex-direction: row;
  }
  .project_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 1.5rem;
  }
.inside_pop>button {
  margin-left: 7rem;
}
  .pop_container {
    position: absolute;
    top: 200%;
    right: 100%;
    margin-left: -2rem;
    z-index: 10;
    width: fit-content;
    height: auto;
    padding: 1rem;
    border: #89aac3;
    box-shadow: #99b8cf 5px 5px 20px;
    border-radius: 10px;
    max-width: 100%;
    background-color: #fff;
  }
    .custom-shape-divider-bottom-1686522821 svg{
      height: 60px;
      margin: 30rem 0 0 0;
    }
    .Buttom {
      display: grid;
      grid-template-columns: min-content;
    
    }
    .Top_main{
     margin-top: 5rem;
    }
    .contact{
     margin: 0;
    }
}