@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --main-color1:#0a1334 ;
  --main-color2:#14202e ;
  --main-color3:#2d4356 ;
  --main-color4:#89aac3 ;
  --big-fonts:2.5rem;
  --small-fonts:1.5rem;
  --main-font-family: 'Alkatra', cursive;
  --title-font-family: 'Lato', sans-serif;
  --small-font-family: 'Raleway', sans-serif;
  --styled-font-family: 'Lora', serif;
}

*{
  margin: 0;
  padding: 0;
}

/* ::-webkit-scrollbar {
  display: none;
} */
body{
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
  width: 100%;
}
.app{
  width: fit-content;
  margin: 0 1rem;
}

button{
  cursor: pointer;
}
.frontend{
  margin-top: -1rem;
  font-family: var(--styled-font-family);
}
.Top_main{
  display: grid;
 grid-template-columns: repeat(1, 5fr 4fr);
 place-items: center;
 height: 100vh;
 margin-top: -2rem;
 place-content: center;
}

.intro{
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}


.intro> h1{
  font-size: var(--big-fonts);
letter-spacing: 1px;
  padding:0 3rem;
justify-self: center;
align-self: center;
  width: 100%;

}
.intro> blockquote{
  white-space: wrap;
  text-align: center;
  padding:0 3rem;
  width: 100%;
  font-family: var(--small-font-family);
}
.contact>a{
  text-decoration: none;
  color: #fff;
}
.name{
  background-image: linear-gradient(45deg, #2d4356,#89aac3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: var(--big-fonts);
  font-family: var(--main-font-family);
}

.centered-container {
  height: 50vh;
}

.content {
  text-align: center;
}
.contact{
  background: #89aac3;
  display: flex;
  gap:.75rem;
  font-size: 2rem;
  align-self:center;
  
  /* margin-left: 1rem; */
padding: .5rem;
color: #fff;
border: none;
font-family: var(--styled-font-family);
font-size: large;
border-radius: 7px;
white-space: nowrap;
}

.top_btn{
background:#14202e ;
color: #fff;
padding: .5rem;
border: none;
font-family: var(--styled-font-family);
font-size: large;
white-space: nowrap;
}

.top_btn_container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.about_Me{
  display: grid;
  grid-template-columns: repeat(1 ,3fr 6fr);
  font-family: var(--title-font-family);
  place-items: center;
  white-space: break-spaces; 
}

.about_Me > img{
  max-height: 400px;
}
.about{
  text-align: center;
  font-family: var(--title-font-family);
}

.mainp_container{
  width: 300px;
  height: auto ;
  margin: 1rem ;
  border: #89aac3;
  box-shadow: #bed1df 5px 5px 20px;
  border-radius: 10px;
  padding: 0 0 1rem 0;
}

.btn_container>h3{
 text-align: center;
 font-size: var(--small-fonts);
  font-family: var(--main-font-family);
}

.p_btn{
 font-family: var(--title-font-family);
 background-color: #2d4356;
 border: none;
 padding: .5rem;
 color: #fff;
 margin: .5rem 1rem;
 border-radius: 5px;
 box-shadow: #fff ;
 cursor: pointer;
}

.Project>h1{
  text-align: center;
  font-size: var(--big-fonts);
  background-image: linear-gradient(45deg, #23394d, #537086);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--main-font-family);
}

.mainp_container>img{
  width: 100%;
}

.project_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr );  
  margin-top: 1.5rem;
    border-radius: 10px;
  place-items: center;
}

.stack{
  font-size: var(--small-fonts);
}

.top_image{
  margin: 0 0 9rem 7rem;
  padding: 5rem 5rem 5rem 6rem;
  background-image: url(images/blob-haikei.svg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 550px;
}

.pop_container{
  position: absolute;
  top: 110%;
  left: 25%;
  z-index: 10;
  width: fit-content;
  height: auto;
  padding:1rem;
  border: #89aac3;
  box-shadow: #99b8cf 5px 5px 20px;
  border-radius: 10px;
 display: block;
  background-color: #fff;
  font-family: var(--styled-font-family);
  max-width: 50vw;
}

.wave_animation{
  animation: wave 1.5s 1s ease-in-out infinite alternate-reverse;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes wave {
  0%{
    transform: rotate(-70deg);
  }
 100%{
    transform: rotate(0deg);
  }
}

.progress-bar {
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--main-color1);
  transform-origin: 0%;
}

.inside_pop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.inside_pop>button {
  border: none;
  background-color: inherit;
  margin-left: 12rem;
  font-size: 1.7rem;
  color: red;
}

.Buttom{
  display: grid;
  grid-template-columns: repeat(2,6fr);
  place-content: center;
  place-items: center;
  background-color: #23394d;
  color: #fff;
  border: none;
  width: 100%;
  margin: -.1rem 0 0 0   ;
  padding: 0 0 2rem 0;
}

.buttom_container{
  width: 100vw;
margin-left: -1rem;
}

.form{
  display: flex;
  flex-direction: column;
  font-size: var(--small-fonts);
  font-family: var(--title-font-family);
  color: #fff;
}

.form>button{
display: block;
margin: 0 auto;
}

.form_input{
  font-family: var(--title-font-family);
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: .5rem;
  margin-bottom: .5rem;
  border-radius: 5px;
  padding:0 .5rem;
}

.textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.copy{
  display: flex;
  flex-direction: column;
}

.p_btn_red{
  font-family: var(--title-font-family);
  font-size: 2rem;
  font-weight: bolder;
    background-color: #fff;
    border: none;
    padding: .5rem;
    color: #d31424;
    margin: 0 .3rem;
    border-radius: 5px;
    box-shadow: #fff;
    cursor: pointer;
    margin-bottom: .5rem;
}

.copy_input{
  border: none;
  font-size: large;
  cursor: pointer;
  color: #e5eaee;
}

/* wave 1 */
.custom-shape-divider-bottom-1686439584 {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1686439584 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 157px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1686439584 .shape-fill {
  fill:#23394d;
}

/*wave 2 */

.custom-shape-divider-bottom-1686522821 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1686522821 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1686522821 .shape-fill {
  fill: #a7b5c4;
}
/* end */
.custom-shape-divider-bottom-1686523959 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686523959 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
}

.custom-shape-divider-bottom-1686523959 .shape-fill {
  fill: #c0cfdf;
}
.wave3{
  position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave3 .shape-fill {
  fill: #E3ECF5;
}

.svg{
  width: 100vw;
}
/* end of svg */
.nav_bar>li>a{
  list-style: none;
  cursor: pointer;
  scroll-behavior: smooth;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
  font-family: var(--styled-font-family);
  width: 5rem;
  padding: 8px ;
  transition: .2s linear;
}
.nav_bar>li>a:hover{
  background-color: #89aac3;
  border-radius: 10px;
  color: #f4f6f8;
}

.Stack_contain{
  display: flex;
  justify-content: space-around;
  color: var(--main-color3);
  font-weight: 600;
}
.Stack_container>h2{
  text-align: center;
}

.services_container{
  display: flex;
  justify-content:space-around;
  margin-bottom: 2rem;
}
.model{
  font-family: var( --title-font-family);
  font-size:1.15rem ;
  word-spacing: 2px;
}
.model>ul>li{
  font-size: 1.1rem;

  /* font-family: var(--styled-font-family); */
  font-weight: 100;
  margin-bottom: 1rem;
}

.g_service{
  display: block;
  height: auto;
  width: 300px;
  height: auto;
  margin: 1rem;
  border: #89aac3;
  box-shadow: #bed1df 5px 5px 20px;
  border-radius: 10px;
  padding: 0 0 1rem 0;
  cursor: pointer;
  font-size: 1rem;
}

.service{
  transition: .3s linear;
}
.g_service>h2{
 font-size: var(--small-fonts);

 margin: 1rem;
}
.g_service>h1{
  margin-bottom: 2rem;
}
.g_service>p{
 padding: 5px;
 font-family: var(--title-font-family);
 font-weight: 700;
 font-size: 1rem;
}
.service:hover{
  transform: scale(1.2);
}

.services{
  text-align: center;
  margin-bottom: 4rem;
}
.services>h1{
  font-family: var(--main-font-family);
  margin-bottom: 3rem;
  color: var(--main-color1);
}
.mid_service{
  background-color: #23394d;
  color: #fff;
  transform: scale(1.3);
    font-size: .85rem
 
  }
.mid_service>h2{
  word-break: break-all;
  word-wrap: break-word;
  font-size: 1.2rem;
  font-family: var(--title-font-family);

}
.mid_service>h1{
  margin-top: 2rem;

}
.mid_service>p{
  padding: 5px;
    font-family: var(--title-font-family);
    font-weight: 500;
    font-size: .75rem;
}
.Fire_Icon{
  color: orange;
}

.next{
  border: none;
  margin: 0 3rem;
  padding: 5px;
  font-size: 1.1rem;
  color: var(--main-color4);
  font-size: larger;
}
.next:active{
  color: #d31424;
}
.quote>p{
 font-size: 1.15rem;
 font-weight: 600;
}

.quote>span{
  font-weight: 600;
  font-size: var(--small-fonts);
}

.close_flex{
  display: flex;
  justify-content: space-between;
}

.nav{
  display: inline-block;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
 left:50%;
}
.large_screen{
 display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: row;
 background-color: #fff;
 position: fixed;
  width: 80%;
margin-top: 1.5rem;
border-radius: 20px;
 z-index: 5;
 top: 0;
 left: 0;
 padding:.65rem .35rem ;
  margin-left: 6rem ;
    margin-right: 6rem ;
 --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    
  text-align: center;

}



.large_screen2{
  display: flex;
flex-direction: row;
  font-size:1.1rem;

}

.large_screen2>a:hover{
  background-color: var(--main-color4);
  border-radius:3px;
  color:#fff;

}
.large_screen2 > a{
  margin-left : 1rem;
  padding:.2rem .5rem;
  color: var( --main-color1);

}
.large_screen>a , .large_screen2 > a{
  text-decoration: none;
  font-weight: bold;
  align-self: center;
}
.contact_Top{
  background-color: var(--main-color4);
  border-radius: 10px;
  text-align: center;
  justify-self: flex-end;
  align-self: center;
  margin-left: 5rem;
  font-size:1rem;
padding:.5rem .75rem;
color:#fff;
}

.logo_text{
  font-family: var(--styled-font-family);
   font-size:1.3rem;
  margin-left: .5rem;
  color: var( --main-color1);

}

.contact_icon{
  padding-right: -0.5rem;
}
@media screen and (max-width: 768px) {
  .Stack_contain {
      display: grid;
      grid-template-columns: repeat(2,6fr );
      place-items: center;
      color: var(--main-color3);
      font-weight: 600;
    }
  .top_image {
    display: none;
    margin-left: 0;
  }

  .g_service{
    width: 70vw;
  }
  .app {
    width: fit-content;
    margin: 0;
  }

  .intro>blockquote {
    display: block;
    margin: 0 auto;
  }

  .about_Me {
    display: flex;
    flex-direction: column;
    position: none;
    left: 0%;
    width: 100vw;

  }
  .buttom_container{
    width: 100%;
    display: block;
    margin: 0 auto;
    
  }

  .top_btn_container {
  display: grid;
  grid-template-columns: repeat(2,6fr);
    place-content: center;
  }
  .mainp_container {
    width: 90vw;
    justify-self: center;
    flex-direction: row;
  }
  .project_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 1.5rem;
  }
.inside_pop>button {
  margin-left: 7rem;
}
.top_svg {
  display: none;
}
  .pop_container {
    position: absolute;
    top: 200%;
    right: 100%;
    margin-left: -2rem;
    z-index: 10;
    width: fit-content;
    height: auto;
    padding: 1rem;
    border: #89aac3;
    box-shadow: #99b8cf 5px 5px 20px;
    border-radius: 10px;
    max-width: 100%;
    background-color: #fff;
  }
    
  .custom-shape-divider-bottom-1686522821 svg{
    height: 60px;
    margin: 30rem 0 0 0;
  }
  .Buttom {
    display: grid;
    grid-template-columns: min-content;
  }
  .Top_main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: fit-content;
   height: auto;
   margin-top: 2rem;

  }
  .b-container{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .contact{
    margin: 5px;
  }

  .services_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mid_service {
    background-color: #23394d;
    color: #fff;
    transform: scale(1);
    font-size: .85rem;
  }
  .service:hover {
    transform: scale(1);
  }
  

  .contact{
    font-size: 15px;
  }
}

@media screen and (max-width: 427px) {
  .intro {
    margin-top: 10rem;
    display: block;
    margin-left: 10px;
  }

  .about_Me>div>p {
    padding: 0 10px;
  }

  .g_service {
    width: 90vw;
  }

  .download {
    margin-right: 5px;
  }

  .Top_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    margin-top: -10rem;

  }
}

@media (min-width: 768px) {
    .small_screen {
      display: none;
      color:red;
    }
  }
@media (max-width: 768px) {
    .large_screen {
      display: none;
      color:red;


    }
  }